:root {
	--panelColor: #282c34;
}

.container {
	display: flex;
	flex-direction: column;
	width: calc(100vw - 1rem);
	height: calc(100vh - 1rem);
	padding: 0.5rem;
}
.container main {
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-top: 0.5rem;
	height: calc(100% - 3rem);
}

.container header {
	background-color: var(--panelColor);

	height: 2rem;
	padding: 0.5rem;
}
.headerTitle {
	font-size: 1.5rem;
	font-weight: bold;

    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.25);
}

.options {
    display: inline-block;
    position: relative;
    bottom: 0.15rem;
}
.option {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 0.25rem;
    font-size: 0.9rem;
}

.stopButton {
	cursor: pointer;
	float: right;
	border: none;
	width: auto;
	height: 100%;
	padding: 0;
	background: none;
}
.stopButton img {
	width: 100%;
	height: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 20rem;
	margin-right: 0.5rem;
	height: 100%;
	background-color: var(--panelColor);
	overflow: auto;
	resize: horizontal;
}

.content {
	display: flex;
	flex: 1;
	height: 100%;
	background-color: var(--panelColor);
	overflow: auto;
}
