:root {
    --panelColor: #282c34;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
    padding: 0.5rem;
}
.container main {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 0.5rem;
}

.container header {
	background-color: var(--panelColor);

    height: 2rem;
    padding: 0.5rem;
}
.headerTitle {
	font-size: 1.5rem;
}

.stopButton {
    cursor: pointer;
    float: right;
    border: none;
    width: auto;
    height: 100%;
    padding: 0;
    background: none;
}
.stopButton img {
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    width: 20rem;
    margin-right: 0.5rem;
    height: 100%;
    background-color: var(--panelColor);
    overflow: auto;
    resize: horizontal;
}

.content {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: var(--panelColor);
}
