.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

details {
	display: flex;
	flex-direction: column;

	width: 100%;
}
details summary {
	width: calc(100% - 0.5rem);
	background-color: #640000;
	font-weight: bold;
	margin-bottom: 0.25rem;
	padding: 0.25rem;
	cursor: pointer;
}
details summary .action {
	float: right;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
}

.server {
	resize: vertical;
}
.serverContent {
	padding: 0.5rem;
}
.serverInfo {
	background-color: rgba(0, 0, 0, 0.1);
}

.onlineUsers {
	margin-top: 0.5rem;
}
.onlineUser {
	background-color: rgba(0, 128, 0, 0.1);
	padding: 0.25rem;
	font-weight: bold;
	margin-bottom: 0.25rem;
}
.onlineUserName {
	display: block;
	cursor: default;
}
.onlineUserName span {
	position: relative;
	bottom: 0.2rem;
}
.onlineUserStatus {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: green;
	margin-right: 0.5rem;
}
.onlineUserOptions {
	font-size: 0.85rem;
	margin-top: 0.15rem;
}
.onlineUserOptions a {
	background-color: rgba(0, 0, 0, 0.25);
	text-decoration: none;
	padding: 0.15rem;
	margin-right: 0.25rem;
}
