.container {
	padding: 1rem;
	width: 100%;
}

.location {
	border-bottom: 0.2rem solid rgba(0, 0, 0, 0.5);
	height: 4rem;
}
.segment {
	display: inline-block;
	margin: 0.25rem;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 0.5rem;
	font-weight: bold;
	cursor: default;
	text-decoration: none;
}
a.segment {
	cursor: pointer;
}
.segment.error {
	color: red;
	text-decoration-line: line-through;
	background-color: rgba(255, 0, 0, 0.25);
}

.files {
	width: 100%;
	height: calc(100% - 5rem);
	overflow: auto;
}
.files table {
	width: 100%;
	border-collapse: collapse;
}
.files table tr {
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
}
.files table tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.files table td a {
	text-decoration: none;
}

.label {
	cursor: pointer;
}
.label a {
	display: inline-block;
	width: 100%;
}

.actionsTd {
	width: 5rem;
}
.actions {
	text-align: right;
	margin-right: 1rem;
}
