.docs {
    display: flex;
    flex-direction: row;
}

.docs-nav,
.docs-content {
	background-color: var(--panelColor);
	height: 100%;
	padding: 1rem;
}

.docs-nav {
	display: flex;
	flex: 1;
	margin-right: 0.5rem;
}
.docs-nav-section {
	width: 100%;
}
.docs-nav-section-children {
	margin-left: 0.75rem;
}
.docs-nav-section-label {
	cursor: pointer;
	width: 100%;
}
summary.docs-nav-section-label {
	font-weight: bold;
	background: rgba(0, 0, 0, 0.25);
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
}

.docs-content {
	display: flex;
	flex: 4;
	flex-direction: column;
}
.docs-content pre,
.docs-content :not(pre) > code {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 0.5rem;
}

@media (max-width: 46rem) {
	.docs-nav {
		margin-bottom: 0.5rem;
		flex: 1;
		max-width: calc(100vw - 2rem);
	}
	.docs-content {
		flex: 1;
		max-width: calc(100vw - 2rem);
	}
    .docs {
        flex-direction: column;
    }
}
