.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-header {
	text-align: center;
}
.home-header picture,
.home-header img {
	height: 15rem;
}
.friends {
	text-decoration: underline;
	text-decoration-color: red;
}
.home-footer {
	margin: 1rem;
	text-align: center;
}

.home-content {
	background-color: var(--panelColor);
	padding: 1rem;
	max-width: calc(100% - 4rem);
}
.download-server {
	font-size: 1.5rem;
	font-weight: bold;
}
.download-server span {
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-thickness: 0.25rem;
}
.download-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.download-item {
	background-color: rgba(0, 0, 0, 0.15);
	margin: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex: auto;
	width: 40%;
}
.download-item-link {
	font-weight: bold;
	font-size: 1.25rem;
}
.download-item-icon {
	width: auto;
	height: 1.25rem;
	position: relative;
	top: 0.25rem;
}
.download-item-download {
	position: relative;
	top: 0.4rem;
	height: 2rem;
}

.big-button {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-size: 2rem;
	padding: 0.5rem;
	margin: 0.5rem;
}

.screenshots {
	text-align: center;
}
.screenshots img {
	max-width: 75%;
	margin-bottom: 0.5rem;
	border: 0.3rem solid rgba(255, 0, 0, 0.25);
}

.release-notes {
	white-space: pre-wrap;
}

.article {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 1rem;
	margin-bottom: 1rem;
}
.article-title {
	font-weight: bold;
	font-size: 1.75rem;
}

.donate {
	max-width: 60rem;
}
